<div class="container-fluid bg-warning pt-4 text-white">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-right">
        <p class="text-right badge badge-pill badge-primary">Open</p>
      </div>
      <div class="col-md-12">
        <div class="row">
          <div class="col-md-10">
            <h2 class="font-weight-bold">ENGR 101 Mini Project 1</h2>
          </div>
          <div class="col-md-2 text-right">
            <h2 class="font-weight-bold"> 150.0 TL</h2>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container mt-4">
  <div class="row">
    <div class="col-md-8">
      <div class="row">
        <div class="col-md-12 bg-white pt-5 pb-3">
          <p>Description: Programming 1 dersinin 1. projesini yaptırmak için birisini arıyorum lütfen beni arayın. Ödevin dökömantasyonu https://www.drive.google.com/.... adresindedir.</p>
          <p class="">Tag: Computer Engineering</p>
          <p class="">Attached File: MP1.zip</p>
          <h5 class="font-weight-bold">About Student</h5>
          <p>Something about student</p>
          <hr>
          <form class="form-inline w-100">
            <div class="form-row w-100">
              <div class="form-group col-md-9">
                <input type="text" placeholder="Your Message" class="w-100 form-control" id="inputCity">
              </div>
              <div class="form-group col-md-3 w-75">
                <input type="text" placeholder="Price" class="form-control w-50" id="inputZip">
                <button type="submit" class="btn btn-primary">Offer</button>
              </div>
            </div>
          </form>
        </div>
      </div>
      <div class="row">
        <div class="w-100 my-4">
          <table class="table table-hover bg-white">
            <thead class="bg-dark text-white">
              <tr>
                <th scope="col">Freelancer</th>
                <th scope="col">Reputation</th>
                <th scope="col">Price</th>
              </tr>
            </thead>
            <tbody>
              <tr class="">
                <td>Column content</td>
                <td>Column content</td>
                <td>Column content</td>
              </tr>
              <tr>
                <td>Column content</td>
                <td>Column content</td>
                <td>Column content</td>
              </tr>
              <tr class="">
                <td>Column content</td>
                <td>Column content</td>
                <td>Column content</td>
              </tr>
              <tr class="">
                <td>Column content</td>
                <td>Column content</td>
                <td>Column content</td>
              </tr>
              <tr class="">
                <td>Column content</td>
                <td>Column content</td>
                <td>Column content</td>
              </tr>
              <tr class="">
                <td>Column content</td>
                <td>Column content</td>
                <td>Column content</td>
              </tr>
              <tr class="">
                <td>Column content</td>
                <td>Column content</td>
                <td>Column content</td>
              </tr>
            </tbody>
          </table> 
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="row">
        <div class="col-md-11 offset-1 bg-white py-4 pl-4">
          <h5 class="font-weight-bold">Similiar Jobs</h5>
          <hr>
          <ul class="list-group pl-3">
            <li class="py-1 h6">Cras justo odio</li>
            <li class="py-1 h6">Dapibus ac facilisis in</li>
            <li class="py-1 h6">Morbi leo risus</li>
            <li class="py-1 h6">Porta ac consectetur ac</li>
            <li class="py-1 h6">Vestibulum at eros</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>