<app-nav></app-nav>
<div class="container-fluid bg-warning pt-4 text-white">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-right">
        <p class="text-right badge badge-pill badge-primary">Open</p>
      </div>
      <div class="col-md-12">
        <div class="row">
          <div class="col-md-9">
            <h2 class="font-weight-bold">{{ project.title }}</h2>
          </div>
          <div class="col-md-3 text-right">
            <h2 class="font-weight-bold"> {{ project.min_price}} - {{ project.max_price }} TL</h2>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container mt-4">
  <div class="row">
    <div class="col-md-8">
      <div class="row shadow">
        <div class="col-md-12 bg-white pt-5 pb-3">
          <p>Description: {{ project.description }}</p>
          <p class="">Tag: {{ project.t_id }}</p>
          <p class="">Due Date: {{ project.deadline}}
          <p class="">Attached File: MP1.zip</p>
          <h5 class="font-weight-bold">About Student</h5>
          <p>Something about student</p>
          <div>
            <hr>
            <form [formGroup]="proposalForm" (ngSubmit)="postProposal">
              <div class="form-row align-items-center">
                <div class="col-9">
                  <textarea class="form-control" id="comment" formControlName="comment" placeholder="Your Message"></textarea>
                </div>
                <div class="col-2">
                  <input type="number" class="form=control form-control-lg w-100" id="price" formControlName="price" placeholder="Price">
                </div>
                <div class="col-1">
                  <button type="submit" class="btn btn-primary" [disabled]="!proposalForm.valid">Offer</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="w-100 mt-4 shadow">
          <table class="table table-hover bg-white">
            <thead class="bg-dark text-white">
              <tr>
                <th class="" style="width: 60%;">Freelancer</th>
                <th class="text-center" style="width: 20%;">Reputation</th>
                <th class="text-center">Price</th>
              </tr>
            </thead>
            <tbody>
              <tr class="">
                <td class="">
                  <div class="row">
                    <div class="col-md-2">
                    <img src="https://upload.wikimedia.org/wikipedia/commons/8/89/Portrait_Placeholder.png" width="80" class="bg-info">
                    </div>
                    <div class="col-md-10 pl-4">
                      <h5>Ahmet Ensar Köprülü</h5>Merhabalar açıklamanızı dikkatlice okudum ve size en iyi hizmeti vereceğime inanıyorum.
                    </div>
                  </div>
                </td>
                <td class="align-middle text-center align-center">
                  <span>
                    <strong class="bg-warning text-white px-1 rounded">4.8</strong>&nbsp;<i class="fas fa-star text-warning"></i><i class="fas fa-star text-warning"></i><i class="fas fa-star text-warning"></i><i class="fas fa-star text-warning"></i><i class="far fa-star text-warning"></i><br>
                    29 değerlendirme <br>
                    %97 tamamlama
                  </span>
                </td>
                <td class="col-md-1 text-center align-middle"><span class="h3">70 TL</span></td>
              </tr>
              <tr class="" *ngFor="let proposal of proposals">
                <td class="">
                  <div class="row">
                    <div class="col-md-2">
                    <img src="https://upload.wikimedia.org/wikipedia/commons/8/89/Portrait_Placeholder.png" width="80" class="bg-info">
                    </div>
                    <div class="col-md-10 pl-4">
                      <h5>Ahmet Ensar Köprülü</h5>Merhabalar açıklamanızı dikkatlice okudum ve size en iyi hizmeti vereceğime inanıyorum.
                    </div>
                  </div>
                </td>
                <td class="align-middle text-center align-center">
                  <span>
                    <strong class="bg-warning text-white px-1 rounded">4.8</strong>&nbsp;<i class="fas fa-star text-warning"></i><i class="fas fa-star text-warning"></i><i class="fas fa-star text-warning"></i><i class="fas fa-star text-warning"></i><i class="far fa-star text-warning"></i><br>
                    29 değerlendirme <br>
                    %97 tamamlama
                  </span>
                </td>
                <td class="col-md-1 text-center align-middle"><span class="h3">70 TL</span></td>
              </tr>

            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="col-md-4 col-sm-12 pl-4">
      <div class="row">
        <div class="col-md-11 offset-1 bg-white py-4 shadow">
          <h5 class="font-weight-bold">Similiar Jobs</h5>
          <hr>
          <ul class="list-group pl-3">
            <li class="py-1 h6">Cras justo odio</li>
            <li class="py-1 h6">Dapibus ac facilisis in</li>
            <li class="py-1 h6">Morbi leo risus</li>
            <li class="py-1 h6">Porta ac consectetur ac</li>
            <li class="py-1 h6">Vestibulum at eros</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
